body{
    background-color: lavender;
}

.flexbox{
    width: 400px;
    height: 410px;
    float: left;
    margin: 5px;
    border-radius: 13px;
    display: flex;
    position: sticky;
}

img{
    width: auto;
    border-radius: 2px;
    display: block;
}

p{
    display:inline-flex;
    margin-top: 30px;
    margin-left: 19px;
    width: 100%;
    text-align: center;
    font-size: 30px;
}

.flexbox1{
    display: inline;
    float: left;
    margin: 15px;
    
}
